.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  row-gap: 60px;
  column-gap: 50px;
  padding: 20px;
  margin-top: 100px;
}

.products-grid a {
  text-decoration: none;
}

.product-card {
  position: relative;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgb(198, 231, 236);
  padding: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.product-card a {
  text-decoration: none;
  color: inherit;
}

.product-image-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background-color: #f6f6f6;
}

.product-img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  border-radius: 10px;
  transition: transform 0.4s ease;
}

.product-card:hover .product-img {
  transform: scale(1.07);
}

.hover-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.35s ease;
  border-radius: 10px;
}

.product-card:hover .hover-overlay {
  opacity: 1;
}

.hover-overlay span {
  color: white;
  font-size: 15px;
  padding: 10px 20px;
  border: 1.5px solid white;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.5px;
}

.product-name {
  font-size: 17px;
  font-weight: 600;
  margin-top: 10px;
  color: #333;
  text-align: center;
}

.price-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.price-box .discount-price {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  text-align: center;
}

.price-box .actual-price {
  font-size: 15px;
  text-decoration: line-through;
  color: #808080;
  text-align: center;
  font-weight: bold;
}

.product-msg {
  margin-top: auto;
  font-size: 14px;
  color: #2a9d8f;
  text-align: center;
}

.category-filter {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin: 20px auto;
  justify-content: center;
}

.cat-btn {
  padding: 8px 16px;
  border-radius: 20px;
  border: 1px solid #ddd;
  background: #f8f8f8;
  cursor: pointer;
  font-size: 14px;
}

.cat-btn.active {
  background: #222;
  color: #fff;
  border-color: #222;
}


.add-to-cart-btn {
  width: 70%;
  padding: 10px 0;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffb100;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s ease;
}

.add-to-cart-btn:hover {
  background-color: #0e90dc;
  color: #fff;
}


.wishlist-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  cursor: pointer;
  z-index: 50;
  background: white;
  border-radius: 50%;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
